<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-SitefinityTorrentTracker" rolesCookieName=".SFROLES-SitefinityTorrentTracker" validationKey="C8FABEAA181A8D06F3AFAA6EA79E248C82FFCBA90A2539AD6AC0FF8E1F6FCC571D65521163DE5A6A55E692BDBBBE13968064E67C2D64E53CB436C169FAC17B1C" decryptionKey="F1FEDECC2EF35B4F225AE611402754A10E679A47401C0F659313EB7F815C7122" loggingCookieName=".SFLOG-SitefinityTorrentTracker">
	<securityTokenIssuers>
		<add key="16529156CBB499DD421445DA6C294A05EA76E113E7DAF809B22A498C86F8AA3C" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="16529156CBB499DD421445DA6C294A05EA76E113E7DAF809B22A498C86F8AA3C" realm="http://localhost" />
	</relyingParties>
</securityConfig>