<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-STorrents" rolesCookieName=".SFROLES-STorrents" validationKey="168B221F1408A0AAB754AAA9EAA7398A955C8717E8082BEAE9611ED8AF9C6C6DD5AA9485D7DA3DD4F4B4A13B546243D3D17D38E38EC7D40729BFEDA3B21DC53E" decryptionKey="6ED81C4F1A4FCC983C05BE2068AF0E004840A69DCB1242D863C43AABACE3B098" loggingCookieName=".SFLOG-STorrents">
	<securityTokenIssuers>
		<add key="79126DD784F1DC581B9370B6BB4BA29EF48407E935870CF88B3162C9FE882E27" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="79126DD784F1DC581B9370B6BB4BA29EF48407E935870CF88B3162C9FE882E27" realm="http://localhost" />
	</relyingParties>
</securityConfig>